<div class="container">
    <div class="left">
        <h1 class="title" i18n="@@feature.identity.registration.page.title">Welcome to Street Football Club!</h1>
        <sfc-slider [items]="Constants.SLIDER_ITEMS" [showCount]="false" [showAutomaticToggle]="false"
            [type]="SliderType.Automatic">
        </sfc-slider>
        <div class="description">
            <h3 i18n="@@feature.identity.registration.page.description.1">Choosing a WordPress Theme for</h3>
            <p i18n="@@feature.identity.registration.page.description.2">
                Here is your best destination for finding players, creating teams, planning games and more!
                We believes in the passion, joy and sense of community that football brings.
            </p>
        </div>
    </div>
    <div class="right">
        <sfc-logo [sfcComponentSize] [customSize]="1.3"></sfc-logo>
        <div class="content">
            <form [formGroup]="form" autocomplete="off">
                <div class="part">
                    <sfc-text-input [id]="Constants.USERNAME_EMAIL_ID" formControlName="userNameEmail"
                        [sfcFocusInput]="true" [label]="Localization.INPUT.USERNAME_EMAIL.LABEL_PLACEHOLDER"
                        [placeholder]="Localization.INPUT.USERNAME_EMAIL.LABEL_PLACEHOLDER" [bordered]="true"
                        [validations]="{
                            required: Localization.INPUT.USERNAME_EMAIL.VALIDATIONS.REQUIRED,
                            sfcUserName: Localization.INPUT.USERNAME_EMAIL.VALIDATIONS.PATTERN,
                            sfcEmailAlreadyExist: Localization.INPUT.USERNAME_EMAIL.VALIDATIONS.EMAIL_ALREADY_EXIST, 
                            sfcUserNameAlreadyExist: Localization.INPUT.USERNAME_EMAIL.VALIDATIONS.USERNAME_ALREADY_EXIST,
                            sfcCheckError: Localization.INPUT.USERNAME_EMAIL.VALIDATIONS.CHECK_ERROR
                        }">
                        <sfc-bounce-loader [id]="Constants.USERNAME_EMAIL_ID" [sfcComponentSize]="ComponentSize.Small"
                            [background]="false">
                        </sfc-bounce-loader>
                    </sfc-text-input>

                </div>

                <div class="part">
                    <sfc-text-input id="password" formControlName="password"
                        [label]="Localization.INPUT.PASSWORD.LABEL_PLACEHOLDER"
                        [placeholder]="Localization.INPUT.PASSWORD.LABEL_PLACEHOLDER" type="password" [bordered]="true"
                        [validations]="{
                            required: Localization.INPUT.PASSWORD.VALIDATIONS.REQUIRED, 
                            pattern: Localization.INPUT.PASSWORD.VALIDATIONS.PATTERN
                        }">
                    </sfc-text-input>
                </div>

                <div class="part">
                    <sfc-text-input id="confirm-password" formControlName="confirmPassword"
                        [label]="Localization.INPUT.CONFIRM_PASSWORD.LABEL_PLACEHOLDER"
                        [placeholder]="Localization.INPUT.CONFIRM_PASSWORD.LABEL_PLACEHOLDER" [bordered]="true"
                        type="password" [validations]="{
                            required: Localization.INPUT.CONFIRM_PASSWORD.VALIDATIONS.REQUIRED, 
                            'sfc-match': Localization.INPUT.CONFIRM_PASSWORD.VALIDATIONS.MATCH
                        }">
                    </sfc-text-input>
                </div>

                <div [sfcShowHideElement]="error !== null" class="part errors">
                    <span class="error-message">{{error?.Message}}</span>
                </div>

                <div class="part action">
                    <sfc-button #submitBtn [text]="Localization.SIGN_UP_BUTTON_TEXT"
                        [types]="[ButtonType.Rounded, ButtonType.Filled]" [disabled]="submitted && form.invalid">
                    </sfc-button>

                    <sfc-delimeter [label]="Localization.DELIMETER_TEXT" [direction]="Direction.Horizontal">
                    </sfc-delimeter>

                    <div class="sso">
                        <div class="google">
                            <a class="sso-link" href="https://google.com">
                                <img src="app/core/assets/images/providers/google.png">
                                <p i18n="@@feature.identity.registration.page.sso.google"> Sign up with Google </p>
                            </a>
                        </div>
                    </div>

                    <div class="redirect">
                        <span i18n="@@feature.identity.registration.page.redirect.question.1">Already a </span>
                        <strong>SFC</strong>
                        <span i18n="@@feature.identity.registration.page.redirect.question.2"> player? </span>
                        <a [routerLink]="loginLinkModel.link" [queryParams]="loginLinkModel.params"
                            i18n="@@feature.identity.registration.page.redirect">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>