<div class="container">
    <sfc-delimeter></sfc-delimeter>
    <div class="content">
        <div class="designed">
            <span i18n="@@core.component.footer.designed">Designed by </span>
            <span class="designer"><a href="http://google.com">Ira Kryvoruk</a></span>
        </div>
        <div class="year">
            <span>© {{year}} </span>
            <span class="brand">The SFC.</span>
            <span i18n="@@core.component.footer.reserved"> All Rights Reserved.</span>
        </div>
    </div>
</div>